<div class="header">
    <div class="logo-container">
        <img class="navlogo" alt="Nav-logo" src="{{ image "NAV_logo_digital_Red.svg" }}"/>
    </div>
    <div class="mottaker-info-container">
        {{#if mottakerNavn}}
            <p class="mottaker">Til: {{ mottakerNavn }}</p>
        {{/if}}
        {{#if mottakerFodselsnummer}}
            <p class="fodselsnummer">Fødselsnummer: {{ mottakerFodselsnummer }} <span style="float: right">{{ datoSendt }}</span></p>
        {{/if}}
    </div>
</div>
