<div class="header">
    <div class="mottaker-info-container">
        {{#if mottakerNavn}}
            <p class="mottaker">Til: {{ mottakerNavn }}</p>
        {{/if}}
        {{#if mottakerFodselsnummer}}
            <p class="fodselsnummer">Fødselsnummer: {{ mottakerFodselsnummer }}</p>
        {{/if}}
    </div>
    <div class="logo-container">
        <img class="navlogo" alt="Nav-logo" src="{{ image "nav-logo-red.png" }}"/>
        <p>{{ datoSendt }}</p>
    </div>
</div>
