<div class="header">
    <div class="mottaker-info-container">
        <p class="mottaker">Til: {{ mottakerNavn }}</p>
        <p class="fodselsnummer">Fødselsnummer: {{ mottakerFodselsnummer }}</p>
    </div>
    <div class="logo-container">
        <img class="navlogo" alt="Nav-logo" src="{{ image "Navlogo.png" }}"/>
        <p>{{ datoSendt }}</p>
    </div>
</div>
