<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="{{ doctitle}}"/>
    <meta name="author" content="ispdfgen"/>
    <meta name="subject" content="{{ doctitle}}"/>
    {{> partials/style }}

    <title>{{ doctitle }}</title>

</head>
