<!DOCTYPE html>
<html lang="no">
{{> partials/head doctitle="Melding til behandler om vedtak friskmelding til arbeidsformidling"}}
<body>
<div class="header">
    <div class="mottaker-info-container">
        <p class="mottaker">Til: {{ mottakerNavn }}</p>
    </div>
    <div class="logo-container">
        <img class="navlogo" alt="Nav-logo" src="{{ image "Navlogo.png" }}"/>
        <p>{{ datoSendt }}</p>
    </div>
</div>

{{> partials/content }}
</body>
</html>
